.MuiAccordion-root .MuiTypography-root {
    letter-spacing: 0.5px;
}

.MuiContainer-root > .MuiAccordion-root {
    margin-top: 16px !important;
}


.MuiAccordionSummary-content {
   justify-content: space-between;
   align-items: center;
 }

 .MuiAccordionSummary-content.Mui-expanded {
    margin: 0 !important;
 }

 .MuiAccordionSummary-content .MuiSvgIcon-root {
    transform: rotate(0deg);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 }

 .Mui-expanded .MuiAccordionSummary-content .MuiSvgIcon-root {
    transform: rotate(90deg);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .MuiAccordionSummary-root.Mui-expanded {
    min-height: 48px !important;
    
  }

  @media only screen and (max-width: 500px) {

    .MuiAccordion-root .MuiTypography-root {
        font-size: 2.8vw;
    }

    .MuiAccordionSummary-content .MuiSvgIcon-root {
        /* margin-right: 5px; */
        font-size: 2.8vw;
    }
    
  }

  @media only screen and (max-width: 899px) {
    .MuiContainer-root .MuiAvatar-root {
        margin-top: 32px;
    }

    .MuiAccordion-root:last-of-type {
        margin-bottom: 32px !important;
    }

  }