@media only screen and (max-width: 600px) {
   .MuiContainer-root h1 {
        font-size: 17vw;
    }

    .MuiContainer-root .pAdjusted {
        font-size: 3.6vw;
    }
}

.MuiBox-root {
    background: #000064;
    background-image: url(../images/bg.gif);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
}

.MuiContainer-root a.link {
    font-family: "PT Sans Narrow", serif;
    color: #FFFFFF;
    text-decoration: none;
    min-width: 64px;
    width: 33%;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.MuiContainer-root a.link:nth-child(1) {
    border-right: 2px solid #FFFFFF;
}

.MuiContainer-root a.link:nth-child(3) {
    border-left: 2px solid #FFFFFF;
}

.MuiContainer-root a.link:hover {
   color: #b1ff06;
    cursor: pointer;
}




.MuiToolbar-root, .MuiContainer-root { 
    animation: fadeIn ease 3s;
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
