.navContainer > .link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    position: relative;
    /* width: 17vw; */
    text-align: left;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0 24px;
    display: block;
    border-bottom: 2px solid #181717;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.navContainer > .link.active {
    background: #121212;
    box-shadow: 4px 0px 0px 0px #121212;
}

.navContainer:nth-child(1) {
    border-top: 2px solid #181717;
}

.navContainer > .link:hover {
    cursor: pointer;
    background: #FFF;
    color: #000;
}

.MuiDrawer-paper {
    top: 56px !important;
    width: 100%;
    height: fit-content !important;
    text-align: center;
    background-image: none !important;
    text-transform: uppercase;
}

.MuiDrawer-paper .link { 
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 50px;
}

.MuiDrawer-paper ul li { 
   text-align: center;
}


html, body, #root {
    height: 100%;
}

.MuiContainer-root {
    height: auto;
}

@media only screen and (max-width: 1200px) { 
    .MuiContainer-root .animation {
        margin-top: 32px;
    }
}

@media only screen and (max-width : 900px) {

    .MuiContainer-root .animation{
        margin-top: 90px;
    }

    header > div.MuiToolbar-root {
        position: fixed;
        height: 64px;
        width: 100%;
        box-shadow: none;
    }

    header > div.MuiToolbar-root  > button {
        margin-left: 10px;
    }

    #home > .MuiContainer-root {
        height: 100%;
    }

    header {
        height: 64px;
    }
}